
#container{
    padding-left: 0%;
    margin-left: 28px;
}
.navbar{
    padding-top: 0%;
    padding-bottom: 0%;
    background-color: rgb(255, 171, 92);
}
.nav-item{
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.nav-item a{
    color: aliceblue;
    font-weight: 400;
    
}
.dropdown-content {
    font-size: small;
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    white-space: nowrap;
  }
.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 1px; 
}
#societiesDropdown{
    position: relative;
    color: #fff;
    margin-top: 8px;
    cursor: pointer;
    margin-left: 8px;
    margin-right: 20px;
}
#societiesDropdown:hover{
    position: relative;
    color: #2e2e2e;
    margin-top: 8px;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #ff8513;
    color: #fff;
}
.dropdown.active .dropdown-content {
    display: block;
}
.dropdown-arrow {
    position: absolute;
    padding-left: 3%;
    padding-top: 3%;
    font-size: small;
}

.arrow-icon.down::before {
    content: "▼";
}

.arrow-icon.up::before {
    content: "▲";
  }
.personal{
    display: flex;
}
.follow-us{

    display: inline-block ;
    padding-left: 250px;
}
.follow-txt{
    font-weight: 600;
}
a{
    text-decoration: none;
}
.media-link{
    list-style: none;
    padding-left: 0%;
}
.media-link li {
    display: inline;
    margin: 8px 0;
}
.contact-us{
    padding-left: 300px;
}
.contact-link{
    padding-left: 0;
    list-style: none;
}
.contact-link li{
    padding-top: 4px;
    font-size: small;
    font-weight: 600;
    text-decoration: none;
}
.contact-link li a{
    color: black;
}
#contact-us-text{
    font-weight: 700;
}
#addr{
    padding-top: 1%;
}

@media (max-width: 768px) {
    .personal{
        flex-direction: column;
    }
    .contact-us{
        padding-left: 200px;
        padding-top: 16px;
    }
    .follow-us{
        display: inline-block ;
        padding-left: 200px;
    }
    #societiesDropdown{
        position: relative;
        color: #fff;
        margin-top: 8px;
        cursor: pointer;
        margin-left: 0px;
        margin-right: 8px;
        padding-bottom: 9px;
    }
    .dropdown-arrow {
        position: absolute;
        padding-left: 3%;
        font-size: small;
        padding-top: 0;
    }
}